<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sherlock.www.dao.BlackRecordMapper" >
 		<resultMap type="Blackrecord" id="ResultBlack">
			<id property="id" column="id"/>
			<result property="selfname" column="selfname"/>
			<result property="blackname" column="blackname"/>
		</resultMap>
		
		<select id="selectBlackrecord" parameterType="String" resultMap="ResultBlack">
			select * from blackrecord where selfname=#{selfname}
		</select>
		
		<insert id="addBlack">
			<selectKey keyProperty="id" resultType="long" order="BEFORE">
					select SEQ_COMMON.nextval from dual
			</selectKey>
			insert into blackrecord (id,selfname,blackname)values(#{id},#{0},#{1})
		</insert>
</mapper>