<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sherlock.www.dao.FriendrecordMapper" >
		
		<resultMap type="Friendrecord" id="ResultFriend">
			<id property="id" column="id"/>
			<result property="selfname" column="selfname"/>
			<result property="friendname" column="friendname"/>
		</resultMap>
		<select id="selectFriend" parameterType="String" resultMap="ResultFriend">
			select * from friendrecord where selfname=#{selfname}
		</select>
		<delete id="deleleFriend">
			delete from friendrecord where selfname=#{0} and friendname=#{1}
		</delete>
		<insert id="addFriend">
			<selectKey keyProperty="id" resultType="long" order="BEFORE">
					select SEQ_COMMON.nextval from dual
			</selectKey>
			insert into friendrecord (id,selfname,friendname)values(#{id},#{0},#{1})
		</insert>
</mapper>