<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
		<mapper namespace="com.sherlock.www.dao.MemberInfoMapper" >
 	
 	
 	<resultMap type="Memberinfo" id="MemberinfoResult">
 		<id column="id" property="id"/>
 		<result column="nickname" property="nickname"/>
 		<result column="point" property="point"/>
 		<result column="gender" property="gender"/>
 		<result column="age" property="age"/>
 		<result column="PROVINCECITY" property="provincecity"/>
 	</resultMap>
 	
 	<insert id="insertMember" parameterType="Memberinfo" > 	
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
				select SEQ_COMMON.nextval from dual
		</selectKey>
			insert into memberinfo (id,nickname,password,gender,age,email,PROVINCECITY,address,phone,PASSWORDQUESTION,PASSWORDANSWER,REGISTERDATE,point) 
							values(#{id},#{nickname},#{password},#{gender},#{age},#{email},#{provincecity},#{address},#{phone},#{passwordquestion},#{passwordanswer},#{registerdate},#{point})
 	</insert>
	<select id="selectUser" parameterType="Memberinfo" resultType="Memberinfo">
			select nickname,password,point,gradeid,latestdate from memberinfo mem where mem.nickname=#{nickname} and mem.password=#{password}
	</select>
	<select id="setPassword" parameterType="Memberinfo" resultType="Memberinfo">
			select * from memberinfo mem where mem.nickname=#{nickname} and mem.passwordquestion=#{passwordquestion} and mem.passwordanswer=#{passwordanswer}
	</select>
	<update id="updatePassword" parameterType="Memberinfo">
			update memberinfo set password=#{password} where nickname=#{nickname}
	</update>
	<select id="selectPoint" resultMap="MemberinfoResult">
			select id,nickname,point from memberinfo order by point desc
	</select>
	<select id="selectFriendMessage" parameterType="String" resultType="Memberinfo">
			select nickname,age,address,gender from memberinfo where nickname=#{nickname}
	</select>
	<update id="updatelatestdate">
			update memberinfo set latestdate=#{1} where nickname=#{0}
	</update>
	<!-- 积分动作 -->
	<update id="addPoint">
			update memberinfo set point=#{1}+point where nickname=#{0}
	</update>
	
	<!--matchFriend  -->
	<select id="matchFriend" resultMap="MemberinfoResult">
	        select id,nickname,point,age,gender,provincecity
	        from memberinfo
	        <where>
	        	 <if test="startage!=0">
         			  and age>=#{startage}
       			 </if>
       			 <if test="endage!=0">
         			 and age &lt;=#{endage}
       			 </if>
       			 <if test="gender!=null">
         			 and  gender=#{gender}
       			 </if>
       			 <if test="provincecity!=null">
         			 and provincecity=#{provincecity}
       			 </if>
	        </where>
	</select>
	<update id="updateMemberinfo">
			update memberinfo 
			set 
				password=#{mem.password},
				email=#{mem.email},
				gender=#{mem.gender},
				provincecity=#{mem.provincecity},
				address=#{mem.address},
				phone=#{mem.phone},
				passwordquestion=#{mem.passwordquestion},
				passwordanswer=#{mem.passwordanswer}
			where nickname=#{mem.nickname} and password=#{oldPassword}
	</update>
	<select id="selectIdByName" parameterType="String" resultType="long">
			select id from memberinfo where nickname=#{nickname}
	</select>
</mapper>